node_modules/
dist/


# Игнорировать временные файлы, созданные Visual Studio Code
.vscode/

# Игнорировать файлы, созданные WebStorm
/.idea/

# Игнорировать временные файлы, созданные WebStorm
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/inspectionProfiles

# Игнорировать временные файлы, созданные WebStorm
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/inspectionProfiles
