.swiper {
  overflow: hidden;
  margin-bottom: 16px;

  &-wrapper {
    padding-left: 0;
  }
  &-slide {
    width: auto !important;
  }

  &-pagination {
    &-bullet{
      width: 12px;
      height: 12px;
      border-color: rgb(221, 221, 221);
    }

    &-bullet-active{
      background: rgb(181, 182, 188);
    }
  }

  &-slide {

  }

  &-pagination{
    margin-top:16px;
  }
}



