.order {
  position: relative;
  text-decoration: none;
  all: initial;
  display: inline-block;
  width: 119px;
  height: 32px;
  padding: 0;
  border-radius: 16px;
  background: $pink;
  color: $white;
  font-family: $font-family-bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: -0.01em;
  line-height: 32px;
  text-align: right;


  &:hover,
  &:focus {

  }

  &__icon {
    width: 24px;
    height: 24px;
    background-image: url($url-image-icon-order);
    vertical-align: middle;
    margin-left: 7px;

  }
}



