.card-order {
  width: 260px;
  height: 200px;
  padding: 16px;
  border-radius: 6px;
  background: $white;

  // .card-order__container
  &__container {
    color: $color-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
  }

  // .card-order__header
  &__header {
    text-align: left;
  }

  // .card-order__title
  // .card-order__subtitle
  &__title, &__subtitle  {
    font-family: $font-family-medium;
    color: $grey;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    padding-bottom: 4px;
  }

  // .card-order__description
  &__description {
  }

  // .card-order__body
  &__body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 38px 42px;
    gap: 16px;
    margin-top: 16px;
  }

  // .card-order__subtitle
  &__subtitle {
    margin: 0;
  }

  // .card-order__price
  &__price {
    grid-row: 1;
  }

  // .card-order__term
  &__term {
  }

  // .card-order__button
  &__button {
    margin-top:0;
    margin-right:0;
    width: 119px;
    height: 32px;
  }
  // .card-order__wrapper
  &__wrapper:nth-child(2), &__wrapper:nth-child(3) {
  grid-row: 2;
  }

  &__wrapper:nth-child(3) {
    align-self: end;
    justify-self: end;
  }
}



