@font-face {
  font-family: $font-family-regular;
  src: url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: $font-family-medium;
  src: url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: $font-family-bold;
  src: url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}



