.dialog-box {
  position: fixed;
  background-color: $color-background;
  z-index: $z-index-overlay;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;

  @include respond-to($min-width-small) {
    width: 440px;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
  }

  @include respond-to($min-width-large) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 700px;
    z-index: 99999999999;
  }

  &__container {
    position: relative;
    padding: 24px 16px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include respond-to($min-width-small) {
      width: 440px;
      padding: 40px 32px;
    }
  }

  &__close-btn {
    background-image: url($url-image-icon-burger-closed);
    transition: transform 0.3s ease;
    margin-bottom: $spacing-medium;

    @include respond-to($min-width-small) {
      position: absolute;
      left: -58px;
      top: 20px;
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
      filter: contrast(1.2);
    }
  }

  &__title {
    font-family: $font-family-bold;
    font-weight: $font-weight-bold;
    font-size: $font-size-large;
    line-height: 133%;
    letter-spacing: -0.03em;
    color: $color-text;
    margin-bottom: $spacing-medium;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -16px;
      @include respond-to($min-width-small){
        left: -32px;
      }
      transform: translateY(-50%);
      width: 4px;
      height: 40px;
      background: $color-secondary;
    }
  }

  &__form {
    padding-bottom: $spacing-medium;
  }

}

.form {
  display: flex;
  flex-direction: column;

  &__input {
    border: 1px solid $color-deliver;
    border-radius: $border-radius-medium;
    color: $grey;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    line-height: $spacing-large;
    letter-spacing: -0.2px;
    text-align: left;
    padding: $spacing-small $spacing-medium;
    margin-bottom: $spacing-medium;
    width: 100%;

    &--tel {
      margin-bottom: $spacing-medium;
    }

    &--email,
    &--message {
      margin-bottom: $spacing-medium;
    }
  }

  &__text {
    margin-bottom: $spacing-medium;
    margin-top: $spacing-medium;
  }

  &__btn {
    margin-left: auto;
    margin-right: 0;
  }
}

.text {
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;

  &--pink {
    color: $pink;
  }
}
