.block-prices {
  background: $color-background;
  border-bottom: none;
  &__header{
    @include headerBlockPadding;
  }

  &__cards{
    @include paddingLeftBlock;

    @include respond-to($min-width-small){
      display: flex;
      flex-direction: column;

      @include headerBlockPadding;

    }
    &__table{

    }
  }

  // .block-prices__card
  &__card{
    @include respond-to($min-width-small){
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: auto;
      margin-right: 32px;

    }
  }
}

