.button-primary {
  @include font-family($font-family-medium);
  font-weight: 500;
  font-size: $font-size-medium;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: $color-text;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;

  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: $spacing-small;
    background-image: url($url-image-icon-expand);
    position: relative;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
  }

  &.expanded::before {
    transform: rotate(180deg);
  }

  &.expanded {
    color: #ff0000;
  }
}
