.page {
  display: flex;
  flex-direction: column;
  width: auto;
  overflow: auto;
  background: $color-background;

  @include respond-to($min-width-large) {
    display: grid;
    grid-template-columns: 320px minmax(1120px, auto);
    overflow-y: visible;
  }
}
