.services-menu {
  // .services-menu__header
  &__header {
    padding: $spacing-medium;
  }

  // .services-menu__title
  &__title {
    color: $grey;
    font-family: $font-family-medium;
    font-size: $font-size-medium;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    text-transform: uppercase;
  }

  // .services-menu__body
  &__body {
  }

  // .services-menu__content
  &__content {
  }

  // .services-menu__row
  &__row {
    display: none;
  }

  // .services-menu__item
  &__item {
  }

  // .services-menu__subitem
  &__subitem {
  }

  // .services-menu__swiper
  &__swiper {
  }

  // .services-menu__items
  &__items {
  }
}


