.commercial-offer {
  width: 288px;
  height: 191px;
  padding: 0 16px 0 16px;
  margin-bottom:42px;
  // .commercial-offer__article
  &__article {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    padding-bottom: 20px;
  }

  // .commercial-offer__link
  &__link {
    text-decoration: none;
    position: relative;
    width: 192px;
    height: 54.98px;
    margin-top:25px;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  &__link:hover {
    transform: scale(1.1);
  }

  &__link:focus {
    filter: saturate(200%) contrast(150%);
    transform: scale(1.1);
  }

  &__link::after{
    position: absolute;
    content: "";
    display: inline-block;
    width: 24px;
    height: 27px;
    background-image: url($url-image-icon-commercial-offer__link); /* Путь к изображению */
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-5%);

  }

  // .commercial-offer__text
  &__text {
    color: $color-text;
    font-family: $font-family-medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
  }
}
