
.block-services {
  background: $color-background;
  width: 100%;
  height: auto;
  overflow: hidden;
  min-width: 0;
  border-bottom: 1px solid $border-color;

  &__title {
    margin-bottom: 15px;

    &__title-text {
      text-align: left;
    }

    &--padding {
      padding-left: 16px;
    }
  }

  &__cards-item {
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;

    &-list{
      margin: 0;
    }
  }

  &__title-text {
  }

  &__cards {


    &--padding {
      padding-left: 16px;
      padding-right: 0;
      padding-top: 0;
    }


  }
  &__cards-list{ margin:0;}
  &__cards-link {
    width: 193px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    border: 1px solid rgb(234, 234, 234);
    background: rgb(255, 255, 255);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 10% center;
  }

  &__swiper {
    position: static;
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 24px;
  }

  &__button {
    display: none;
  }

  .swiper-pagination {
    position: static;
    margin-top: 16px;

  }
}

